
    <div class="registration-form">
        <form #ssdForm="ngForm" (ngSubmit)="raiseSsd(ssdForm)" novalidate>
            <div class="form-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"></path>
                </svg>
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="title" name="title" class="form-control item" id="title" placeholder="Title" #titleControl="ngModel" required>
                <span  *ngIf="titleControl.touched && titleControl.invalid" class="text-danger">Title is required</span>
            </div>
            <div class="form-group">
                <input type="textbox" [(ngModel)]="description" name="description" class="form-control item custom-size" id="review" placeholder="Provide Description here!"  #descriptionControl="ngModel" required>
                <span  *ngIf="descriptionControl.touched && descriptionControl.invalid" class="text-danger">Description is required</span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-block create-account" [disabled]="ssdForm.invalid">Raise SSD</button>
          </div>
        </form>
    </div>
    <div class="ssd-history">
    <h1 class="bold text-center">SSD History</h1>
    
      <div *ngIf="ssdHistory.length > 0" class="ssd-cards-container">
        <div *ngFor="let history of ssdHistory" class="card ssd-card">
          <div class="card-body">
            <i>{{ history.SSDId }}</i>
            <p class="card-text">
              Title: {{ history.Title }}
              <br />
              Description: {{ history.Description | slice:0:history.Description.split(' ').slice(0, 7).join(' ').length }}...
            </p>
            <p class="card-text text-muted">
              Date: {{ history.Date | date: 'dd/MM/yyyy hh:mm a' }}
            </p>            
            <p class="card-text text-muted">
              Status: 
              <span [ngClass]="{
                'text-success': history.Status === 'Approve',
                'text-danger': history.Status === 'Declined',
                'text-warning': history.Status === 'Requested'
              }">
                {{ history.Status =='Approve'?'Approved':history.Status}}
              </span>
            </p>
          </div>
        </div>
      </div>
      <div *ngIf="ssdHistory.length === 0">
        <p class="text-center">No SSD history available.</p>
      </div>
    </div>
    <footer class="footer text-white py-3 text-center">
      <p class="mb-0">&copy; 2025 Benefit Portal. All rights reserved.</p>
    </footer>
    
 