body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #dee9ff;
    padding:7px;
}

.registration-form {
    min-height: 85vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.registration-form form {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.registration-form .form-icon {
    text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    line-height: 80px;
}

.registration-form .item {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}

#Eligibility, #Category {
    height: fit-content;
}

/* Footer Styling */
app-footer {
    background-color: #5791ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.response-message {
    position: fixed;
    right: 250px;
    bottom: 100px;
    max-width: 300px;
    z-index: 1050;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    animation: fadeInOut 5s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.success-message {
    background-color: rgb(25, 224, 105);
}

.error-message {
    background-color: rgb(208, 7, 7);
}

/* Style for the button when the form is invalid */
.not-allowed {
    cursor: not-allowed !important;
}

/* Style for the button when hovered */
.not-allowed:hover {
    cursor: not-allowed !important;
}

/* Style for a valid form's button */
.registration-form form:valid button[type="submit"]:hover {
    cursor: pointer;
}


.footer {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
      color: white;
      text-align: center;
      padding: 15px;
      position: relative;
      bottom: 0;
      width: 100%;
    }
    
    .footer p {
      margin: 0;
    }