<div class="view-bill-container">
  <h3>View and Manage Reimbursement Bills</h3>

  <div class="product-listing">
    <div *ngFor="let bill of bills" class="card benefit-card" (click)="openBillDialog(bill)">
      <div class="card-body">
        <h4 class="card-title">{{ bill.ReimbursementId }}</h4>
        <p class="card-text">
          Status: 
          <span 
            class="badge" 
            [ngClass]="{
              'bg-success': bill.Status === 'Approve',
              'bg-warning text-dark': bill.Status === 'Requested',
              'bg-danger': bill.Status === 'Declined'
            }"
          >
          {{ bill.Status === 'Approve' ? 'Approved' : bill.Status }}
          </span>
        </p>
      </div>
    </div>
  </div>

  <div *ngIf="selectedBill" class="modal-overlay">
    <div class="modal-content">
      <div class="modal-header">
       <i>{{ selectedBill.ReimbursementId }}</i>
       <i>{{selectedBill.ReimbursementType}} Bill</i>
        <button class="close-btn" (click)="closeBillDialog()">×</button>
      </div>
   
     

      <div class="modal-body">
        <p><strong>SAP ID:</strong> {{selectedBill.EmployeeId}}</p>
        <p><strong>Amount:</strong> {{ selectedBill.Amount | currency: 'INR' }}</p>
        <p><strong>Notes:</strong> {{ selectedBill.Notes }}</p>
        <p><strong>Date:</strong> {{ selectedBill.Date  | date:'dd/MM/yyyy hh:mm a' }}</p>

        <p *ngIf="selectedBill.Status!='Requested'"><strong>Response:</strong> {{ selectedBill.BillResponse}}</p>
        <p>
          <strong>Status:</strong> 
          <span 
            class="badge" 
            [ngClass]="{
              'bg-success': selectedBill.Status === 'Approve',
              'bg-warning text-dark': selectedBill.Status === 'Requested',
              'bg-danger': selectedBill.Status === 'Declined'
            }"
          >
          {{ selectedBill.Status === 'Approve' ? 'Approved' : selectedBill.Status }}
          </span>
        </p>
      </div>
      <div *ngIf="selectedBill.Status == 'Requested'">
        <strong>Remark:</strong> 
        <input class="form-control" type="text" id="response" name="response" [(ngModel)]="responseText"/>
      </div>
      <div class="modal-footer">
        <button 
          class="btn btn-success" 
          [disabled]="selectedBill.Status !== 'Requested'" 
          (click)="approveBill(selectedBill.ReimbursementId)">
          Approve
        </button>
        <button 
          class="btn btn-danger" 
          [disabled]="selectedBill.Status !== 'Requested'" 
          (click)="declineBill(selectedBill.ReimbursementId)">
          Decline
        </button>
      </div>
    </div>
  </div>
</div>
<footer class="footer text-white py-3 text-center">
  <p class="mb-0">&copy; 2025 Benefit Portal. All rights reserved.</p>
</footer>

